.container {
    max-width: 980px;
    margin: 50px auto;
   
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__btn{
    padding: 15px 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: none;
    transition: 1.2ms;
    color: white;
    
}
.nav__btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}