<div class="container">
    <section id="nav">
        <div class="nav">
            <button class="nav__btn" routerLink="/">All</button>
            <button class="nav__btn" routerLink="/movies">Movies</button>
            <button class="nav__btn" routerLink="/cinemas">Cinemas</button>
        </div>
    </section>
</div>
<section id="content">
    <div class="banner">
        <button (click)="changeBanner('prev')">1--</button>
        <div class="banner__item">

            <div class="banner__img">
                <img *ngIf="getCurrentBannerMovie()" [src]="getCurrentBannerMovie().banner" alt="">
            </div>
            <div class="banner__info">
                <h2>{{getCurrentBannerMovie().title}}</h2>
            </div>
        </div>
        <button (click)="changeBanner('next')">--1</button>

    </div>
</section>
<div class="container">    
    <section id="movies">
        <div class="movies__block">
            <div class="movies__header">
                <h2>Movies</h2>
                <a routerLink="/movies">All movies</a>
            </div>
            <div class="movies__list">
                <div class="movie__item" *ngFor="let movie of getTopMovies(6)">
                    <img [src]="movie.image_url" alt="">
                    <h2>{{movie.title}}</h2>
                    <p>{{movie.genre}}</p>
                </div>
            </div>
        </div>
    </section>

</div>

<router-outlet></router-outlet>
