.container {
    max-width: 980px;
    margin: 50px auto;
   
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__btn{
    padding: 15px 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: none;
    transition: 1.2ms;
    color: white;
    
}
.nav__btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.banner {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.banner__slide {
    position: absolute;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}


.banner button:hover {
    transform: scale(1.1);
}


.banner button:nth-child(1) {
    left: 10px;
}


.banner button:nth-child(3) {
    right: 10px;
}


.banner__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    transition: transform 0.5s ease;
}


.banner__img {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner__img img {
    width: 100%;
    height: 600px; 
    object-fit: cover; 
    border-radius: 10px;
}


.banner__info {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* padding: 20px; */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 10px;
    /* z-index: 5; */
}

.banner__info h2 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.banner__info p {
    font-size: 18px;
    margin: 0;
    color: #ddd;
    padding-bottom: 15px;
}
.banner__text{
    text-align: start;
    padding: 40px;
    max-width: 60%;
}

.banner__btn button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    padding: 10px 20px;
    background: none;
    color: white;
    border: 1px white solid;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    border: white 1px solid;
}
.banner__info button:hover {
    background-color:cornflowerblue;
}
.banner__btn button img{
    width: 24px;
    padding-left: 30px;
}



.movies__block {
}
.movies__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movies__header h1{
    font-size: 48px;
}
.movies__header a{
    color:#999999;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.movies__header a img{
    width: 28px;
    padding-left: 5px;
}
.movies__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
}

.movie__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    
   
    padding: 20px 20px;
    max-width: 200px;

}
.movie__card h2{
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
}
.movie__card p{
    font-size: 16px;
    margin: 0;
}
.movie__card img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.movie__card img:hover{
    transform: scale(1.05);
    cursor: pointer;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.img__part{
    position: relative;
}
.img__part:hover .overlay{
    opacity: 1;
    cursor: pointer;
    
}
.card__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}