<div class="profile-container" *ngIf="currentUser">
  <h2>Profile</h2>


  <div class="avatar-section">
  <!-- <img [src]="currentUser.avatar || 'default-avatar.png'" alt="Avatar" class="avatar-img"> -->
   <img [src]="currentUser.avatar ? ('http://127.0.0.1:8000' + currentUser.avatar) : 'default-avatar.png'" 
     alt="Avatar" 
     class="avatar-img">

  <input type="file" (change)="onAvatarChange($event)">
</div>



  <div class="username-section">
    <label>Username:</label>
    <input type="text" [(ngModel)]="newUsername">
  </div>

  <button (click)="updateProfile()">Update Profile</button>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <hr>

</div>
