<div class="container">
    <section id="auth">
        <div class="login__content">
            <div class="login__block">
                <div class="login__tittle">
                    <h1>Login</h1>
                </div>
                
                <div class="login__form">
                    <form action="">
                        <input class="input__email" type="email" placeholder="email">
                        <input class="input__password" type="password" placeholder="password">
                        <button class="form__btn">Login</button>
                        <a class="form__link" href="">Forgot a password?</a>
                        <hr>
                        <p class="signin__link">You don't have an account? <br> <a href="">Sign In</a></p>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
</div>
