<nav class="nav">
  <div class="container">
    <div class="header__nav">
      <div class="home__nav">
        <a class="home__link" [routerLink]="['/']">
          <img [src]="'icon.png'" alt="">MovieTime
        </a>
      </div>
      <div class="search__nav">
      <input
        type="text"
        placeholder="Search movies..."
        [(ngModel)]="searchText"
        (input)="onSearchChange()"
      />
      <img src="https://cdn-user-icons.flaticon.com/34571/34571460/1766346974515.svg?token=exp=1766347875~hmac=2d930ed67d560abeb4b862a609842524" alt="">
    </div>


      <div class="ticket__nav">
        <nav class="nav__ticket">
          <a routerLink="/my-bookings">My tickets <img [src]="'ticket.png'" alt=""></a>
        </nav>
      </div>

      <div class="log__nav" *ngIf="currentUser; else loginLink">
        <a class="nav__text" routerLink="/profile">
            <img [src]="'profile.png'" alt=""> Hi, {{ currentUser.username }}
        </a>

        <button (click)="logout()">Log Out <img [src]="'logout.png'" alt=""></button>
      </div>

      <ng-template #loginLink>
        <a class="nav__text" routerLink="/login">
          <img [src]="'auth.png'" alt=""> Login
        </a>
      </ng-template>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
